<section class="content-header">
    <h1>
       Ayuda

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/MenuPrincipal"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Ayuda</li>
    </ol>
</section>

<!-- Content Wrapper. Contains page content -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">\
                    <div class="panel-body">
                       
                            
                      
                      
                    </div>

                
            </div>

        </div>
    </div>

    <!-- Left col -->
    <section class="col-lg-7 connectedSortable"></section><!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable"></section><!-- right col -->


</section><!-- /.content -->
