@model ASKI_VACACIONES.Models.TipoDiaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Calendario

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Calendario"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Calendario</li>
    </ol>
</section>




<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" ></script>
<script src="http://multidatespickr.sourceforge.net/jquery-ui.multidatespicker.js"></script>

<input id="datePick" type="text" />


<script type="text/javascript">
    $(document).ready(function(){
   $('#datePick').multiDatesPicker();
    });

</script>