@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Mis solicitudes

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Calendario"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Mis solicitudes</li>
    </ol>
</section>



<!-- Content Wrapper. Contains page content -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"></h3>
                            </div><!-- /.box-header -->
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Inicio de vacaciones</th>
                                        <th>Fin de vacacioens</th>
                                        <th>Dias a disfrutar</th>
                                        <th>Responsable</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12/03/14</td>
                                        <td>18/03/14</td>
                                        <td>7</td>
                                        <td>Carlos Hernandez</td>
                                        <td>Aprobado</td>
                                    </tr>
                                    <tr>
                                        <td>12/03/15</td>
                                        <td>18/03/15</td>
                                        <td>7</td>
                                        <td>Carlos Hernandez</td>
                                        <td>Pediente</td>
                                    </tr>
                                   
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Inicio de vacaciones</th>
                                        <th>Fin de vacacioens</th>
                                        <th>Dias a disfrutar</th>
                                        <th>Responsable</th>
                                        <th>Estado</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div><!-- /.box -->
                    </div>
            </div>

        </div>
    </div>

    <!-- Left col -->
    <section class="col-lg-7 connectedSortable"></section><!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable"></section><!-- right col -->


</section><!-- /.content -->