<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistema de vacaciones(UNITEC)</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <!--Css-->
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/Content/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Template/dist/css/AdminLTE.min.css">
    <!--Colores -->
    <link href="~/Template/dist/css/skins/skin-blue.css" rel="stylesheet" />
    <!--datatable-->
    <link href="~/DataTables-1.10.9/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/DataTables-1.10.9/media/css/dataTables.foundation.min.css" rel="stylesheet" />
    <link href="~/DataTables-1.10.9/media/css/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link href="~/DataTables-1.10.9/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Template/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>


    <!--JQuery-->
    <!-- Principales -->
    <script src="~/Template/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="~/Template/dist/js/app.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Content/js/bootstrap.min.js"></script>
   <!--Datatable-->
    <script src="~/DataTables-1.10.9/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/DataTables-1.10.9/media/js/dataTables.foundation.min.js"></script>
    <script src="~/DataTables-1.10.9/media/js/dataTables.jqueryui.min.js"></script>
    <script src="~/DataTables-1.10.9/media/js/jquery.dataTables.min.js"></script>
    
</head>





<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("Partial/_Navbar")
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            @Html.Partial("Partial/Menu")
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright &copy; 2014-2015 </strong> All rights reserved.
        </footer>
        <div class="control-sidebar-bg"></div>

    </div><!-- ./wrapper -->
  

    </body>
    </html>

