@model ASKI_VACACIONES.Models.JerarquiaModel
@{
    ViewBag.Title = "AddJefe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Agregar Jefe de Departamento
    </h1>

</section>

<!--Trying-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<style type="text/css">
    .bs-example {
        font-family: sans-serif;
        position: relative;
        margin: 100px;
    }

    .typeahead, .tt-query, .tt-hint {
        border: 2px solid #CCCCCC;
        border-radius: 8px;
        font-size: 24px;
        height: 30px;
        line-height: 30px;
        outline: medium none;
        padding: 8px 12px;
        width: 396px;
    }

    .typeahead {
        background-color: #FFFFFF;
    }

        .typeahead:focus {
            border: 2px solid #0097CF;
        }

    .tt-query {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }

    .tt-hint {
        color: #999999;
    }

    .tt-dropdown-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 12px;
        padding: 8px 0;
        width: 422px;
    }

    .tt-suggestion {
        font-size: 24px;
        line-height: 24px;
        padding: 3px 20px;
    }

        .tt-suggestion.tt-is-under-cursor {
            background-color: #0097CF;
            color: #FFFFFF;
        }

        .tt-suggestion p {
            margin: 0;
        }
</style>


<!-- Content Wrapper. Contains page content -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                @using (Html.BeginForm())
                {

                    <div class="panel-body">
                                                   
                            <!-- form start -->
                            @Html.ValidationSummary(true)
                            <form class="form-horizontal">


                                <div class="form-group">
                                    <div class="box">
                                           <div class="box-body">
                                               <div class="form-group">
                                                      <label for="tags" class="col-sm-2 control-label">Empleado </label>
                                                   <input id="tags">
                                              </div>
                                            <table id="permiso" class="datatable table table-striped table-bordered" width="65%">
                                                <thead>
                                                    <tr>
                                                        <th>Departamento</th>
                                                        <th>Jefe Departamento</th>
                                                    </tr>
                                                </thead>

                                            </table>
                                        </div><!-- /.box-body -->
                                    </div><!-- /.box -->

                                </div>

                            </form>
                     </div>

                }
            </div>

        </div>
    </div>

    <!-- Left col -->
    <section class="col-lg-7 connectedSortable"></section><!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable"></section><!-- right col -->


</section><!-- /.content -->


<script type="text/javascript">
    $(document).ready(function () {
        var rows_selected = [];
        var table = $('#permiso').DataTable({
            responsive: true,
            "ajax": {
                "url": "@Url.Action("getJefe_Departamanto", "Jerarquia")",
                "type": "POST"
            },

            "columns": [
                    {
                        "data": "departamento",
                        'className': 'dt-body-left'

                    },
                    {
                        "data": "nombre",
                        'className': 'dt-body-left'
                    }

            ]
        });

        setInterval(function () {
            table.ajax.reload();
        }, 60000);

       $(function () {
           var availableTags = $.ajax({
               type: "POST",
               url: "@Url.Action("getUsuarios_TalentoHumano", "Jerarquia")",
               //success: function (result) {
               //    alert(result.toString() + "  " + result[0]);
               //},
               //error: function (req, status, error) {
               //    //alert("Error");
               //}
           });
            console.log(availableTags);
            $("#tags").autocomplete({
                source: availableTags
            });
        });


        @*"@Url.Action("getUsuarios_TalentoHumano", "Jerarquia")"*@
    //Add sugerencias to textfield

    });
</script>




<script type="text/javascript">
    function beforeSendInformation() {

        //Permisos
        var table = $('#permiso').DataTable();
        table
         .search('')
         .columns().search('')
         .draw();

        var oTable = $('#permiso').DataTable();
        var cadena = "";
        var rowcollection = oTable.$(".call-checkbox:checked", { "page": "all" });
        rowcollection.each(function (index, elem) {
            var checkbox_value = $(elem).val();
            cadena += checkbox_value + "/";
        });
        console.log("checbox_value: " + cadena);
        $('#textPermiso').val(cadena)



    }
</script>

