@model ASKI_VACACIONES.Models.UsuariosModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    function Clear() {
        var table = $('#example').DataTable();
        table
         .search('')
         .columns().search('')
         .draw();
    }
</script>

<form id="frm-example" action="#">
    <table id="departamento" class="datatable table table-striped table-bordered" width="65%">

        <thead>
            <tr>
                <th><input name="select_all" type="checkbox"></th>
                <th>Descripcion</th>
                <th>Editar</th>
                <th></th>

            </tr>
        </thead>


    </table>





    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Cambiar jefe del empleado</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control " type="text" placeholder="Departamento">
                    </div>
                    <div class="form-group">

                        <input class="form-control " type="text" placeholder="Jefe">
                    </div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-primary btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Actualizar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</form>


<script type="text/javascript">
    function updateDataTableSelectAllCtrl(table) {
        var $table = table.table().node();
        var $chkbox_all = $('tbody input[type="checkbox"]', $table);
        var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
        var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

        // If none of the checkboxes are checked
        if ($chkbox_checked.length === 0) {
            chkbox_select_all.checked = false;
            if ('indeterminate' in chkbox_select_all) {
                chkbox_select_all.indeterminate = false;
            }

            // If all of the checkboxes are checked
        } else if ($chkbox_checked.length === $chkbox_all.length) {
            chkbox_select_all.checked = true;
            if ('indeterminate' in chkbox_select_all) {
                chkbox_select_all.indeterminate = false;
            }

            // If some of the checkboxes are checked
        } else {
            chkbox_select_all.checked = true;
            if ('indeterminate' in chkbox_select_all) {
                chkbox_select_all.indeterminate = true;
            }
        }
    }

    $(document).ready(function () {
        var rows_selected = [];
        var table = $('#departamento').DataTable({
            responsive: true,
            "ajax": {
                "url": "@Url.Action("JSonRoles", "Roles")",
                "type": "POST"
            },

            "columns": [
        {
            "data": "id",
            'className': 'dt-body-center',
            'render': function (id) {
                return '<input type="checkbox" class="call-checkbox" name="' + id + '" value="' + id + '">';
            }
        },
                    { "data": "descripcion" },
                    {
                        "data": "id",
                        'className': 'dt-body-center',
                        'render': function (id) {
                            return '<p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>';

                        }
                    }

            ],
            'order': [1, 'asc'],
            'rowCallback': function (row, data, dataIndex) {
                // Get row ID
                var rowId = data[0];

                // If row ID is in the list of selected row IDs
                if ($.inArray(rowId, rows_selected) !== -1) {
                    $(row).find('input[type="checkbox"]').prop('checked', true);
                    $(row).addClass('selected');
                }

            }
        });

        // Handle click on checkbox
        $('#departamento tbody').on('click', 'input[type="checkbox"]', function (e) {
            e.stopPropagation();
        });

        // Handle click on table cells with checkboxes
        $('#departamento').on('click', 'tbody td, thead th:first-child', function (e) {
            $(this).parent().find('input[type="checkbox"]').trigger('click');
        });

        // Handle click on "Select all" control
        $('#departamento thead input[name="select_all"]').on('click', function (e) {
            if (this.checked) {
                $('#departamento tbody input[type="checkbox"]:not(:checked)').trigger('click');
            } else {
                $('#departamento tbody input[type="checkbox"]:checked').trigger('click');
            }

            // Prevent click event from propagating to parent
            e.stopPropagation();
        });

        // Handle table draw event
        table.on('draw', function () {
            // Update state of "Select all" control
            updateDataTableSelectAllCtrl(table);
        });
    });
</script>